@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white/80 backdrop-blur-xl border border-white/30;
  }
}
